<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main">
        <h1>Notepad</h1>
        <form action="/" method="GET">
            <button class="additionalButton" type="submit">メインに戻る</button>
        </form>
    </div>
    <% if(data.length > 0) {%>
        <div class="container_list">
            <% for (var i = 0; i < data.length; i++) {%>
                <div class="item">
                    <% %>
                    <h1>やること<%= i %>: <%= data[i].itemDelete  %></h1>
                        <div>
                            <form action="/deleteArchive" method="POST">
                                <input type="hidden" name="archiveToDelete" value="<%= data[i].itemDelete %>">
                                <button type="submit" class="additionalButton">完全に削除</button>
                            </form>
                            <form action="/returnMain" method="POST">
                                <input type="hidden" name="returnArchive" value="<%=data[i]._id%>">
                                <button type="submit">ToDoリストに戻す</button>
                            </form>
                        </div>
                    </h1>
                </div>
       
            <% } %>
        </div>
    <% } else { %>
        <h1>アーカイブがありません。</h1>
    <% } %>
</body>
</html>