<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Notepad</h1>
    <div>
        <form action="/item" method="POST">
            <input type="text" name="ToDoItem"><button type="submit">追加</button>
        </form>
    </div>
    <% if(data.length > 0) {%>
        <% for (var i = 0; i < data.length; i++) {%>
            <h1>やること<%= i %>: <%= data[i] %>
                <form action="/delete" method="POST">
                    <input type="hidden" name="itemToDelete" value="<%= data[i] %>">
                    <button type="submit">削除</button>
                </form>
            </h1>
        <% } %>
    <% } else { %>
        <h1>ToDoリストがありません。</h1>
    <% } %>
</body>
</html>
