.main {
    display: grid;
    place-items: center;
    margin-bottom:30px;
}

.inputText {
    display: grid;
    place-content: center;
}

.additionalButton {
    border-radius: 100vh;
}
  
.container_list {
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap: 10px;
}

.item {
    background-color: rgb(178, 200, 180);
}